* {
  box-sizing: border-box;
}

.link {
  cursor: pointer;
}

*:focus {
  outline: none;
}

body{
    /* background: linear-gradient(136deg, #1ad7c0, #8E44AD, #ff9b11, #1F3A93, #ddd8c6, #000000, #000000);  */
    /* background: linear-gradient(136deg, #FBA100,#87D37C, #4484CE, #9B59B6, #EFEFEF, #000000, #ECF0F1); */
    background: linear-gradient(136deg, #CD3B3C,#F04937, #FA990E, #FFBE0B, #06D6A0, #1B9AAA, #A2666F);
    color: rgba(255,255,255,.9);
    /* background: #CD3B3C; */
    background-size: 1200% 1200%;
    -webkit-animation: AnimationName 70s ease infinite;
    -moz-animation: AnimationName 70s ease infinite;
    -o-animation: AnimationName 70s ease infinite;
    animation: AnimationName 70s ease infinite;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 7%}
    50%{background-position:100% 94%}
    100%{background-position:0% 7%}
}

@-moz-keyframes AnimationName {
    0%{background-position:0% 7%}
    50%{background-position:100% 94%}
    100%{background-position:0% 7%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 7%}
    50%{background-position:100% 94%}
    100%{background-position:0% 7%}
}
@keyframes AnimationName {
    0%{background-position:0% 7%}
    50%{background-position:100% 94%}
    100%{background-position:0% 7%}
}

.bg {
  /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); */
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: scroll;
  background: rgba(0,0,0,.01);
  color: #fff;
  text-align: center;
}

/************************HIDDEN************************************/

.hiddenMenu {
  width: 100%;
  background: transparent;
  /* height: 325px; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  /* border: 1px solid rgba(255,255,255,.3);
  text-shadow: 0px 1px 3px rgba(0,0,0,.4);
  background-color: rgba(255,255,255,.01);
  box-shadow: inset 0 0 5px 3px rgba(255,255,255,0.2); */
  transform: translateY(-325px);
  transition: all ease-out .3s;
}

.unhide {
  transform: translateY(0px);
}

.hiddenNav {
  position: relative;
  top: 0px;
  left: 0;
  width: 100%;
}

.hiddenNav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: inline-block;
}

.hiddenNav ul li {
  width: 100%;
}

.hiddenNav ul li:first-child button {
  /* color: black; */
  padding-top: 100px;
}

.hiddenNav ul li button {
  padding: 15px;
  padding-left: 25px;
  text-align: left;
  color: #FFF;
  width: 100%;
  /* height: 50px; */
  font-size: 25px;
  font-family: 'Poiret One', cursive;
  border: 1px solid rgba(255,255,255,.3);
  text-shadow: 0px 1px 3px rgba(0,0,0,.4);
  background-color: rgba(255,255,255,.01);
  box-shadow: inset 0 0 5px 3px rgba(255,255,255,0.2);
}

.blur {
  filter: blur(6px);
}

/************************HEADER************************************/

.hamburger {
  width: 30px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 30px;
  z-index: 101;
  cursor: pointer;
  box-sizing: content-box;
  padding: 5px;
  z-index: 999;
}

.line {
  position: absolute;
  height: 3px;
  width: 29px;
  background-color: rgba(255,255,255,.8);
  box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.1), 0px -2px 1px 0px rgba(0,0,0,.1);
  border-radius: 3px;
  transition: all cubic-bezier(0.25, 0.1, 0.3, 1.65) 0.3s;
}

.line1 {
  top: 18%;
}

.line2 {
  top: 50%;
}

.line3 {
  top: 83%;
}

.close .line1 {
  transform: rotate(135deg);
  top: 50%;
}

.close .line2, .close .line3 {
  transform: rotate(225deg);
  top: 50%;
}


header {
  font-family: 'Poiret One', cursive;
  position: relative;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 60px;
  max-height: 100px;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  text-shadow: 0px 1px 3px rgba(0,0,0,.3);
  /* border: 1px solid black; */
  margin-top: 15px;
  transition: all ease-out .3s;
}

.header-nav {
  display: flex;
  flex-direction: row;
  margin-right: 40px;
}

.logo {
  color: rgba(255,255,255,.9);
  margin-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 5px;
  font-size: 1.2em;
}

.header-nav ul {
  display: flex;
  flex-direction: row;
}

header li {
  color: rgba(255,255,255,.9);
  display: flex;
  align-items: center;
  letter-spacing: 5px;
  margin: 0 5px;
}

.button {
  font-size: 1.3em;
  padding: 15px;
  background-color: transparent;
  border-radius: 5px;
  text-shadow: 0px 1px 3px rgba(0,0,0,.3);
  color: #FFF;
  font-family: 'Poiret One', cursive;
  border: none;
  letter-spacing: 3px;
  transition: all ease-out .3s;
  cursor: pointer;
}

.button:hover, .focus {
  opacity: 1;
  border-radius: 5px;
  text-shadow: 0px 1px 3px rgba(0,0,0,0);
  background-color: rgba(255,255,255,.01);
  box-shadow: inset 0 0 5px 1px rgba(255,255,255,0.1), 0px 2px 5px 0px rgba(0,0,0,.4);
}





/************************HOME******************************/

.home {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* display: none; */
  /* margin: 0 auto; */
  position: absolute;
  top: 250px;
  left: 0;
  width: 100%;
  opacity: 0;
  transform: translateX(-50px);
  transition: all ease-out .5s;
  z-index: -1;
}

.home h1, h3 {
  color: rgba(255,255,255,.9);
  text-shadow: 0px 1px 3px rgba(0,0,0,.3);
  font-family: 'Poiret One', cursive;
  font-weight: 100;
  letter-spacing: 5px;
  margin: 0;
  padding: 10px 0;
}

.home h1 {
  font-size: 5em;
}

.home h3 {
  font-size: 1.5em;
}

/**********************PORTFOLIO**************************/

.projects {
  position: absolute;
  top: 140px;
  left: 0;
  width: 100%;
  opacity: 0;
  transform: translateY(-50px);
  z-index: -1;
  transition: all ease-out .5s;
}

.cat-button {
  margin: 0 5px;
}

.grid {
  width: 80%;
  max-width: 800px;
  display: grid;
  min-height: 600px;
  margin: 50px auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
}

.tile {
  position: relative;
  overflow: hidden;
  /* filter: blur(3px); */
  transition: all ease-out .3s;
}

.img {
  transition: all ease-out .3s;
  /* transform: translate3d(-1px, -1px, 0); */
  border:solid 1px transparent;
  border-width:1px 0 0 1px;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.tile span {
  position: absolute;
  left: 0%;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 999;
  transform: translateY(25px);
  transition: all ease-out .3s;
}

/* .rsWebkit3d  .java span {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
} */

.icons {
  align-self: center;
}

a .fa-globe,
a .fa-github {
  font-size: 2em;
  margin: 15px;
  color: #FFF;
  /* box-shadow: 0px 2px 5px 0px rgba(0,0,0,.4); */
}

.shadow {
  filter: drop-shadow( 0px 2px 5px rgba(0,0,0,.7) );
}


/* .icons {
  z-index: 999;
} */

.java, .java-icon {
  opacity: 0;
  grid-row: 1 / 2;
  grid-column: 1 / 3;

}

.java-img {
  background: url('../img/java.png');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

}

.elegant, .elegant-icon {

  opacity: 0;
  grid-row: 2 / 3;
  grid-column: 2 / 4;
}

.elegant-img {
  background: url('../img/elegant.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.mustacchio, .mustacchio-icon {

  opacity: 0;
  grid-row: 3 / 4;
  grid-column: 1 / 3;
}

.mustacchio-img {
  background: url('../img/mustacchio.png');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.reddit, .reddit-icon {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  opacity: 0;
}

.reddit-img {
  background: url('../img/ajaxify-reddit.png');
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

.weather, .weather-icon {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  opacity: 0;
}

.weather-img {
  background: url('../img/weather-app.png');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.cards, .cards-icon {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
  opacity: 0;
}

.cards-img {
  background: url('../img/cards-against.png');
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

.elegant.focus,
.mustacchio.focus,
.java.focus,
.reddit.focus,
.weather.focus,
.cards.focus {
  opacity: 1;
}

.elegant.focus:hover > .elegant-img,
.mustacchio.focus:hover > .mustacchio-img,
.java.focus:hover .java-img,
.reddit.focus:hover > .reddit-img,
.weather.focus:hover > .weather-img,
.cards.focus:hover > .cards-img {
  filter: blur(3px);
}



.java.focus:hover span,
.elegant.focus:hover span,
.mustacchio.focus:hover span,
.reddit.focus:hover span,
.weather.focus:hover span,
.cards.focus:hover span {
  opacity: 1;
  transform: translateY(0px);
  /* z-index: 999; */
}

.project-cat {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: all ease-out .5s;
}

.projects span {
  text-shadow: 0px 1px 3px rgba(0,0,0,.3);
  color: #FFF;
  font-family: 'Poiret One', cursive;
  font-size: 1.5em;
  /* display: inline-block; */
}

@media screen and (max-width: 769px) {

  .grid {
    grid-template-rows: repeat(6, minmax(200px, 1fr));
  }

  .java, .java-icon {
    grid-row: 1 / 2;
    grid-column: 1 / 4;

  }

  .elegant, .elegant-icon {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
  }

  .mustacchio, .mustacchio-icon {
    grid-row: 5 / 6;
    grid-column: 1 / 4;
  }

  .reddit, .reddit-icon {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
  }

  .weather, .weather-icon {
    grid-row: 4 / 5;
    grid-column: 1 / 4;
  }

  .cards, .cards-icon {
    grid-row: 6 / 7;
    grid-column: 1 / 4;
  }

  .reddit-img {
    background-position: top;
  }

  .cards-img {
    background-position: top;
  }
}


/**********************ABOUT**************************/

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  position: absolute;
  top: 150px;
  left: 0;
  opacity: 0;
  transform: translateX(50px);
  z-index: -1;
  transition: all ease-out .5s;
}

.wrapper {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.pic-text {
  display: flex;
  flex-direction: row;
}

.pic-text img {
  border-radius: 50%;
  border: 2px solid rgba(255,255,255,.7);
  box-shadow: 0 3px 8px rgba(0,0,0,.3);
  width: auto;
  height: auto;
  max-height: 200px;
  max-width: 200px;
  margin: 20px;
  align-self: center;
}

.about-text {
  text-align: left;
  font-weight: 300;
  text-shadow: 0px 1px 3px rgba(0,0,0,.3);
}

.about-text h4 {
  font-size: 2em;
  margin: 20px 0;
  font-weight: 300;
}

.about-text p {
  font-size: 1.3em;
  margin: 0;
}

.skills {
  display: flex;
  flex-direction: column;

  text-shadow: 0px 1px 3px rgba(0,0,0,.3);
  width: 100%;
  text-align: left;
  margin-top: 30px;
}

.skills h2 {
  font-weight: 300;
  font-size: 2em;
  margin: 20px 0;
  font-family: 'Quicksand', sans-serif;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill-list:after {
  content: "";
  flex: auto;
}

.skill-list i {
  width: 100%;
  font-size: 3.8em;
  margin: 5px;
  display: inline-block;
}

/**********************CONTACT**************************/

.contact {
  margin-top: 50px;
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  opacity: 0;
  z-index: -1;
  transform: translateY(50px);
  transition: all ease-in-out 1s;
}

.contact .fa-github-square,
.contact .fa-linkedin,
.contact .fa-envelope {
  font-size: 6em;
  margin: 40px;
  color: rgba(255,255,255,.9);
  transition: all ease-out .3s;
}

.contact .fa:hover {
  transform: scale(1.3);
}


/**************************transitions**********************************/

.appear {
  opacity: 1;
  z-index: 10;
  transform: translateY(0) translateX(0);
}

/**********************MEDIA QUERIES**************************/

@media screen and (max-width: 1200px) {

  header label {
    font-size: 1.1em;
  }
  .logo {
    font-size: 1em;
  }
  .home h1 {
    font-size: 2.5em;
  }
  .home h3 {
    font-size: .8em;
  }

}

@media screen and (max-width: 775px) {
  header {
    /* flex-direction: column; */
    align-items: center;
    height: 13vh;
  }
  .logo {
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: .8em;
  }

  .pic-text {
    flex-direction: column;
  }

}
