/** {
  border: 1px solid red;
}*/

body{
    /* background: linear-gradient(136deg, #1ad7c0, #8E44AD, #ff9b11, #1F3A93, #ddd8c6, #000000, #000000);  */
    background: linear-gradient(136deg, #FBA100,#87D37C, #4484CE, #9B59B6, #EFEFEF, #000000, #ECF0F1);

    background-size: 1200% 1200%;
    -webkit-animation: AnimationName 70s ease infinite;
    -moz-animation: AnimationName 70s ease infinite;
    -o-animation: AnimationName 70s ease infinite;
    animation: AnimationName 70s eas e infinite;
    height: 100%;
    padding: 0;
    margin: 0;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 7%}
    50%{background-position:100% 94%}
    100%{background-position:0% 7%}
}

@-moz-keyframes AnimationName {
    0%{background-position:0% 7%}
    50%{background-position:100% 94%}
    100%{background-position:0% 7%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 7%}
    50%{background-position:100% 94%}
    100%{background-position:0% 7%}
}
@keyframes AnimationName {
    0%{background-position:0% 7%}
    50%{background-position:100% 94%}
    100%{background-position:0% 7%}
}

.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  /*background-color: rgba(0, 0, 0, 0.2);
  background-size: 1200% 1200%;*/

}



/************NAVBAR**************/

nav {
  position: absolute;
  top: 5%;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
}

li:first-child {
  border-left: none;
}

nav a {
  padding: 18px;
  text-decoration: none;
  letter-spacing: 4px;
  font-size: 1.2em;
  color: #fff;
  font-weight: 100;
}

nav a:hover {
  font-size: 1.3em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  color: rgba(225, 225, 225, 0.5);
}

li {
  list-style-type: none;
  border-left: 1px solid #fff;
}


/************HEADER**************/

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Poiret One', cursive;
}

h1 {
  font-size: 5em;
  margin: 10px;
  font-weight: 200;
  letter-spacing: 2px;
  font-family: 'Poiret One', cursive;
}

h2 {
  margin: 5px;
  font-size: 2em;
  font-weight: 100;
}

h4 {
  margin: 5px;
  font-weight: 100;
}

/************ABOUT**************/

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.about-section {
  display: flex;
  width: 60%;
  flex-direction: column;
  margin: 70px auto;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

img {
  border: 3px solid #fff;
  border-radius: 50%;
  width: 30%;
  height: 30%;
  margin: 10px;
}

.about-and-pic {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.about-text {
  padding: 5px;

}

.about-text {
  font-size: 1.1em;
}

.skills {
  margin-top: 50px;
}

.skill-list {
  margin-top: 20px;
}

i {
  color: #fff;
  font-size: 3em;
  padding: 10px;
  display: inline-block;
}
