.projects {
  background-color: $black;
  width: 100%;
  position: relative;
  box-shadow: $box-shadow;
  padding-bottom: 30px;
  .title {
    text-align: center;
    color: $white;
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-weight: 300;
    border-bottom: 2px solid $white;
    width: 90%;
  }
  #projects {
    width: 90%;
    margin: 0 auto;
    // padding: 10% 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 300px);
    z-index: 89;

    .flip3D {
      color: $black;
      height: 100%;
      width: 100%;
      position: relative;
      .front, .back {
        position: absolute;
        transform-origin: center center;
        height: 100%;
        width: 100%;
        backface-visibility: hidden;
        transition: transform .5s linear 0s;
      }
      .front {
        transform: perspective(600px) rotateX(0deg);
        background: $black;
        .overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: rgba(0,0,0,.1);
        }
        .img1 {
          width: 100%;
          height: 100%;
          background: url('../../img/java.png') left/cover no-repeat;
        }
        .img2 {
          width: 100%;
          height: 100%;
          background: url('../../img/elegant.png') left/cover no-repeat;
        }
        .img3 {
          width: 100%;
          height: 100%;
          background: url('../../img/mustacchio.png') center/cover no-repeat;
        }
        .img4 {
          width: 100%;
          height: 100%;
          background: url('../../img/ajaxify-reddit.png') left/cover no-repeat;
        }
        .img5 {
          width: 100%;
          height: 100%;
          background: url('../../img/cards-against.png') left/cover no-repeat;
        }
        .img6 {
          width: 100%;
          height: 100%;
          background: url('../../img/weather-app.png') left/cover no-repeat;
        }
      }
      .not-java {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 30px;
        .headline {
          display: flex;
          a {
            display: inline-block;
            color: $black;
            padding-top: 7px;
            padding-left: 10px;
            svg {
              font-size: 25px;
            }
          }
        }
      }
      .back {
        transform: perspective(600px) rotateX(180deg);
        background: $white;
        font-family: 'Raleway', sans-serif;
        padding: 20px;
        text-shadow: $text-shadow;
        h1, p {
          margin: 0;
        }
        h1 {
          margin-bottom: 10px;
        }
        .description {
          font-weight: 300;
          line-height: 15px;
          margin-bottom: 10px;
        }
        .page-links-label {
          margin-bottom: 10px;
        }
        .page-links {
          height: 30%;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(2, 1fr);
          text-align: center;
          grid-gap: 2px;
          a {
            display: flex;
            text-decoration: none;
            color: $white;
            background-color: $black;
            text-shadow: none;
            justify-content: center;
            border-radius: 1px;
            &:hover {
              color: $black;
              background-color: $white;
            }
            span {

              align-self: center;
            }
          }
        }

      }
      &:hover > .front {
        transform: perspective(600px) rotateX(-180deg);
      }

      &:hover > .back {
        transform: perspective(600px) rotateX(0deg);
      }
    }
  }
}


@media screen and (min-width: 650px) {
  .projects {
    padding-bottom: 30px;
    .title {
      width: 30%;
    }
    #projects {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 300px);
      .flip3D {
        .not-java {
          .headline {
            a {
              margin-top: -5px;
            }
            h1 {
              font-size: 25px;

            }
          }
        }
      }
    }
  }

}
